/*
    Document   : style．css
    Created on : 2014-11-12 09:10 AM
    Author     : Misacorp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

html {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

body {
    margin: 10px;

    font-family: "Josefin Sans", "Roboto", "Arial", sans-serif;
    color: black;
    font-size: 20px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    
    max-width: 650px;
}

.container:target {
    max-height: 1600px;
    transition: max-height 0.25s ease-in;
}

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.pretitle {
    font-size: 16px;
    margin-bottom: 0;
}

.main_title {
    font-size: 62px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

.subtitle {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    
    margin-bottom: 15px;
}

#title {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    margin-top: 40px;
    text-align: center;
}

.name {
    padding: 3px;
    padding-left: 10px;
    width: 100%;
    height: 46px;
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: white;
    
    position: relative;
}





/*        PÄIVÄN VALINTA:     */

#paivat {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
    text-align: center;
    font-size: 24px;
}

.paivamaara {
    display: inline-block;
    margin: 0 10px 0 10px;
    
    text-align: center;
    line-height: 60px;    /* Vertical center align hack */
    
    width: 60px;
    height: 60px;
    background-color: #AAAAAA;
    border-radius: 300px;
    
    font-size: 26px;
    color: white;
}

.paivamaara:hover {
    box-shadow: inset 0 0 15px #888888;
}

.tab [type=radio] {
    display: none;
}

[type=radio]:checked ~ label {
}

[type=radio]:checked ~ label ~ .content {
    display: block;
}

.content {
    display: none;
}






/*        CONTENT:     */

.text {
    padding: 3px;
    padding-left: 10px;
}

.container {
    margin-bottom: 10px;
    width: 100%;
    max-height: 52px;
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: white;
    
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.stronk {
    font-weight: 500;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #FFFFFF transparent transparent transparent;
    position: absolute;
    left: 3px;
}

.circle {
    height: 31px; 
    width: 31px;
    background-color: rgba(255,255,255,1); 
    border-radius: 155px;
    position: absolute;
    right: 24px;
    top: 10px;
}

.smallcircle {
    height: 3px; 
    width: 3px;
    background-color: rgba(0,0,0,0.6);  
    border-radius: 15px;
    position: absolute;
    top: 45%;
    left: 8px;
}

.smallcircle2 {
    height: 3px; 
    width: 3px;
    background-color: rgba(0,0,0,0.6);  
    border-radius: 15px;
    position: absolute;
    top: 45%;
    left: 14px;
}

.smallcircle3 {
    height: 3px; 
    width: 3px;
    background-color: rgba(0,0,0,0.6);  
    border-radius: 15px;
    position: absolute;
    top: 45%;
    left: 20px;
}

#basic, #basic_2 {
    background-color: #6a6a6a;
}

#basic_info, #basic_2_info {
    background-color: #4a4a4a;
}

#film {
    background-color: #028491;
}

#film_info {
    background-color: #015b64;
}

#press, #press_2 {
    background-color: #d56d48;
}

#press_info, #press_2_info {
    background-color: #90492e;
}

#art {
    background-color: #b17f4a;
}

#art_info {
    background-color: #946038;
}

#design {
    background-color: #999C3C;
}

#design_info {
    background-color: #6E7029;
}





/*        MOBILE YO:         */



@media screen and (max-width: 640px) {
    .main_title {
            margin-top: 15px;
            width: 90%;
            font-size: 15vw;
            margin-left: auto;
            margin-right: auto;
    }
}








